@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
* {
    font-family: 'Ubuntu Condensed';
}


.section1 {
   position: relative;
   height: 100%;
   margin: 0;
   width: 100%;
   top: -10px;
}

.coffBack {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.imgText {
    width: 56%;
    position: absolute;
    top: 25%;
    left: 10%;
    height: 40%;
    color: white;
    text-align: justify;
    letter-spacing: 2px;
}

.love {
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 15px;
}

.love span {
    color: #067655;
    text-align: justify;
    padding-right: 15px;
    
}

.range {
    font-size: 20px;
}

.someNew {
    display: flex;
    justify-content: center;
    font-size: 40px;
    width: 100%;
}

.someNew p {
    padding-left: 5px;
    color: #067655;
}

.chooseCoff {
    background-color: black;
    border-radius: 10%;
    color: white;
    height: 30px;
    width: 150px;
    font-size: 19px;  
    cursor: pointer; 
    
}

Link {
    text-decoration: none;
}

.chooseCoff:hover {
    animation: bounce 1s;
    background-color: #2f2f2f;
}

/* SECTION 2 */

.section2 {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

.coffIced {
    width: 25%;
    height: 25%;
}

.stubrew {
    display: block;
    margin: 48px 23px 30px 137px;
    font-size: 50px;
}

.stuShop {
    display: flex;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    color: white;
    background-color: #067655;
}

.stuShop p {
    padding-left: 5px;
    color: black;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

@media only screen and (max-width: 600px) {
    .section1 {
        overflow: hidden;
    }
    .coffBack {
        height: 600px;
        width: 900px;
        background-size: cover;
        position: relative;
        right: 150px;
        overflow: hidden;
    }
}