.navBar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    height: 70px;
    align-items: center;
    background-color: black;
}

.nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: 2px;
    top: 18px;
    list-style-type: none;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding-left: 110px;
    padding-right: 120px;
    transition: 0.1s;
    z-index: 99;
}

.logo {
    height: 120px;
    width: 120px;
    z-index: 100;
    position: fixed;
    top: 18px;
    left: 20px;
    cursor: pointer;
}

.scrolled {
    position: fixed;
    background-color: black;
    opacity: 0.8;
    top: -1px;
    transition: 0.1s;
}

.mobNav {
    position: absolute;
    left: 20px;
    z-index: 200;
    display: none;
}

.ham {
    height: 100px;
    width: 100px;
    top: 20px;
    z-index: 201;
}

input {
   display: none; 
}

.nav li {
    height: 70px;
    width: 136px;
    padding-top: 22px;
    cursor: pointer;
}

.nav li:hover {
    background-color:#2f2f2f;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navBar {
       
       height: 30%;
       margin-bottom: 0;
       
    }
    
    .nav {
        display: none;
        
    }
    .logo {
        position: relative;
        height: 60px;
        width: 60px;
        left: 300px;
    }
    .mobNav {
        display: block;
        color: white;
        top: 24px;
        cursor: pointer;
    }

    .toggle1:checked + .nav {
        display: block;
    }

    input {
        display: block;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
