* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topBar {
    position: absolute;
    width: 70%;
    height: 20px;
    background-color: white;
    color: black;
    left: 1px;
    align-items: center;
    z-index: 98;
}

.store {
    position: absolute;
    width: 30%;
    height: 20px;
    background-color: #067655;
    color: white;
    right: 1px;
    align-items: center;
    z-index: 97;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .store, .topBar {
        font-size: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

