.select-box-container {
    height: 30px;
    border: 1px solid #aaa;
    width: 100%;
    padding: 0;
}

.select-box-selected-item {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 4px 12px;
    vertical-align: middle;
}

.select-box-items div {
    position: relative;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 6px;
    padding-left: 20px;
    margin: auto;
    background-color: #fff;
    z-index: 100;
    cursor: pointer;
}

.select-box-items div:hover {
    background-color: #ddd;
}

.select-box-box {
    position: relative;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.select-box-arrow {
    position: absolute;
    right: 0;
    top: 1;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #aaa;
    cursor: pointer;
}

.select-box-arrow-down {
    position: relative;
    top: 20px;
    left: 1px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
}

.select-box-arrow-up {
    position: relative;
    bottom: 8px;
    left: 1px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}